@import "tailwindcss";

@keyframes aurora {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(12%, 12%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

.animate-aurora {
  background-size: 200% 200%;
  animation: aurora 6s ease-in-out infinite;
}
